* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #7dd3fc;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.title {
    background-color: #38bdf8;
    padding: 40px 100px;
    border-radius: 20px;
}

.title p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

nav {
    margin-top: 80px;
    display: flex;
    gap: 40px;
}

.tab:hover {
    color: white;
    cursor: pointer;
}